<div class="flex container justify-content-center blue-container">
  <div
    class="flex flex-column justify-content-center align-items-center content"
  >
    <div
      (click)="openFile()"
      (drop)="dropFile($event); over = false"
      (dragover)="$event.preventDefault()"
      (dragenter)="over = true"
      (dragleave)="over = false"
      [class.over]="over"
      class="flex flex-column justify-content-center align-items-center upload"
    >
      <input
        (change)="addFiles($event)"
        multiple
        #fileinput
        type="file"
        class="hidden"
      />
      <i
        class="pi pi-cloud-upload upload-icon mb-4"
        style="font-size: 7rem"
      ></i>
      <span class="mt-2 text-2xl">Upload file by clicking</span>
      <span class="mt-2">or</span>
      <span class="mt-2 text-2xl">Drag and drop</span>
    </div>
    <div class="w-full files mt-5">
      <div
        *ngFor="let fileHolder of filesHolder$ | async; let i = index"
        class="flex my-2 w-full file"
      >
        <i class="pi pi-file-o file-icon mr-5" style="font-size: 2rem"></i>
        <span class="pt-2">{{ fileHolder.file.name }}</span>
        <span class="flex-auto"></span>
        <div
          *ngIf="fileHolder.progress$ | async as progress"
          class="
            mx-5
            spinner-container
            flex
            justify-content-center
            align-items-center
          "
        >
          <p-progressSpinner
            *ngIf="progress < 100"
            [style]="{ width: '60px', height: '60px' }"
          >
          </p-progressSpinner>
          <span *ngIf="progress < 100" class="spinner">{{ progress }}%</span>
          <i
            *ngIf="progress === 100"
            class="pi pi-check"
            style="font-size: 2rem; color: var(--green-500)"
          >
          </i>
        </div>
        <i
          (click)="removeFile(i)"
          class="pi pi-trash clickable clear-icon"
          style="font-size: 2rem"
        ></i>
      </div>
    </div>
  </div>
</div>
